<!DOCTYPE html>
<html>
    <head>
        <title>Wiki | {% block title %}{% endblock %}</title>

        {% load static %}
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
              integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'image autolink autoresize paste preview textcolor colorpicker',
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | image | forecolor backcolor'
            });
        </script>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand">Wiki</a>
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wiki:index' %}">Home</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated %}
                <span class="navbar-text">Username: {{ user.username }}</span>
            {% endif %}
        </nav>
        <div style="margin-top: 75px; margin-left: 10px;">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>