<!DOCTYPE html>
<html>
    <head>
        <title>Wiki | {% block title %}{% endblock %}</title>

        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


        <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'image autolink autoresize paste preview textcolor colorpicker',
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | image | forecolor backcolor'
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid" style="background-color: #333333">
                <div class="navbar-header">
                    <span class="navbar-brand">Wiki</span>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'wiki:index' %}">Index</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <span class="navbar-text" style="color: #ffffff">{{ user.username }}</span>
                    </li>
                    <li>
                        <a href="{% url 'wiki:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>

                    {% else %}
                    <li>
                        <a href="{% url 'wiki:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li>
                        <a href="{% url 'wiki:register' %}"><span class="glyphicon glyphicon-user"></span> Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div style="margin-top: 75px; margin-left: 10px; margin-right: 10px;">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>