{% extends 'wiki/base.html' %}
<head>
    <title>{% block title %}Login{% endblock %}</title>
</head>
{% block content %}
<h1>Login</h1>
<hr>
{% if form.error %}
    <p>{{ form.error }}</p>
{% endif %}

{% if user.is_authenticated %}
    <p>You are already logged in.</p>
{% else %}
    <form method="post" action="{% url 'wiki:login' %}">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">Username</label>
            <div>{{ form.username }}</div>
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}">Password</label>
            <div>{{ form.password }}</div>
        </div>
        <hr>
        <input class="btn btn-primary" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endif %}
{% endblock %}